* {
    box-sizing: border-box
}

html {
    background-color: #e0e0e0
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 3.3em 2.2em 1.1em 2.2em;
    background-color: #00bfa5;
    color: #ffffff;
}

section {
    padding: 1.1em 2.2em 0 2.2em;
}

footer {
    padding: 0 2.2em 2.2em 2.2em;
}

div#resume {
    min-width: 310px;
    font: 16px Helvetica, Avernir, sans-serif;
    line-height: 24px;
    color: #000
}

div#resume h1 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 50px
}

div#resume h2 {
    font-size: 20px;
    margin: 0 0 6px 0;
    position: relative
}

div#resume h2 span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-style: italic;
    font-family: Georgia, serif;
    font-size: 16px;
    color: #999;
    font-weight: normal
}

div#resume p {
    margin: 0 0 16px 0
}

div#introduce {
    max-width: 70%;
}

div#introduce p {
    display: inline-block;
    width: 45%;
    white-space: pre-wrap;
}

div#resume span {
    color: #34495e;
    min-width: 100px;
    display: inline-block;
}

div#resume a {
    color: #009a61;
    text-decoration: none;
    border-bottom: 1px dotted #999
}

div#resume a:hover {
    border-bottom-style: solid;
    color: #e06666
}

div#resume article {
    font-family: Georgia, KAITI, serif;
    color: #666;
    font-size: 1.2em;
    padding-bottom: 1em;
}

div#resume article i {
    color: #e06666;
    font-style: normal;
}

div#resume article p {
    text-indent: 2em;
}

div#resume dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 26px 0 0;
    width: 150px;
    border-right: 1px solid #999
}

div#resume dl {
    display: table-row
}

div#resume dl dt,
div#resume dl dd {
    display: table-cell;
    padding-bottom: 20px
}

div#resume dl dd {
    width: 500px;
    padding-left: 26px
}

div#resume img {
    float: right;
    padding: 10px;
    background: #fff;
    margin: 0 30px;
    transform: rotate(-4deg);
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    width: 30%;
    max-width: 220px
}

@media screen and (max-width:1100px) {
    div#resume h2 span {
        position: static;
        display: block;
        margin-top: 2px
    }
    div#introduce p {
        display: block;
        width: 100%;
        white-space: nowrap;
    }
}

@media screen and (max-width:550px) {
    body {
        margin: 1rem
    }
    div#resume img {
        transform: rotate(0deg)
    }
}

@media screen and (max-width:400px) {
    div#resume dl dt {
        border-right: none;
        border-bottom: 1px solid #999
    }
    div#resume dl,
    div#resume dl dd,
    div#resume dl dt {
        display: block;
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 0;
        text-align: left;
        width: 100%
    }
    div#resume dl dd {
        margin-top: 6px
    }
    div#resume h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 18px
    }
    div#resume dt {
        font-size: 20px
    }
    h1 {
        font-size: 36px;
        margin-right: 0;
        line-height: 0
    }
    div#resume img {
        margin: 0
    }
}

@media screen and (max-width:320px) {
    body {
        margin: 0;
    }
    img {
        margin: 0;
        margin-bottom: -40px
    }
    div#resume {
        width: 320px;
        padding: 12px;
        overflow: hidden
    }
    p,
    li {
        margin-right: 20px
    }
}

.progress {
    width: 300px;
    background: #bbb;
    display: inline-block;
}
.rate {
    height: 15px;
    border-radius: 5px;
}
.rate-1 {
    width: 10%;
    background-color: #C2024F;
}
.rate-2 {
    width: 20%;
    background-color: #C2024F;
}
.rate-3 {
    width: 30%;
    background-color: #FCB13F;
}
.rate-4 {
    width: 40%;
    background-color: #FCB13F;
}
.rate-5 {
    width: 50%;
    background-color: #04BBBF;
}
.rate-6 {
    width: 60%;
    background-color: #04BBBF;
}
.rate-7 {
    width: 70%;
    background-color: #04BBBF;
}
.rate-8 {
    width: 80%;
    background-color: #34c84a;
}
.rate-9 {
    width: 90%;
    background-color: #34c84a;
}
.rate-10 {
    width: 100%;
    background-color: #34c84a;
}
.round-conner {
    height: 15px;
    border-radius: 5px;
}

strong {
    display: inline-block;
    min-width: 100px;
}

